<form [formGroup]="booksForm" class="mb-4" (ngSubmit)="submitForm()">

  <mat-form-field>
    <input matInput placeholder="ISBN" formControlName="isbn" />
    <mat-error *ngIf="!isValid('isbn')">
      ISBN ist ungültig.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Titel" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
  </mat-form-field>

  <button
    type="submit"
    [disabled]="booksForm.invalid"
    mat-raised-button
    color="primary"
  >Abschicken</button>

</form>
